body {
    height: 1350px;
    width: 2050px;
    background-image: url("images/business-coming-soon-computer-211122.jpg");
    background-repeat: no-repeat;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}